* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Button-container{
    display:flex;
    align-items:start;
    gap: 5px;
    justify-content: center;
}
.admin-login-button,.doctor-login-button,.rec-login-button{
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 3%;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px black;
}
h1{
    text-align: center;
}
.login-container{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: fit-content;
    box-shadow: 0px 0px 10px black;
    padding: 2rem;
    border-radius: 2rem;
}
.login-container>input,
.login-container>label,
.login-container>button{
    margin-top: 10%;
    font-size: 1.3rem;
}
.login-container>input{
    padding: .4rem;
    font-size: 1.3rem;
}
.login-container>button {
  margin: 10% auto;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 0px 10px rgb(167, 167, 167);
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}
.admin-login-button,
.doctor-login-button,
.rec-login-button {
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 0px 10px rgb(167, 167, 167);
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}
.admin-login-button,
.doctor-login-button {
  padding: 1rem 4rem;
}

.admin-login-button:hover,
.doctor-login-button:hover,
.rec-login-button:hover {
  transform: scale(1.05);
}

.active {
  background-color: #6c63ff;
  color: white !important;
}
@media screen and (max-width:425px) {
    .Button-container{
        margin: 0%;
        gap:0px;
        font-size:.6rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    h1{
        margin-top: 1rem;
        font-size: 1rem;
    }
    .login-container{
        margin-top: 2rem;
    }
    .login-container input,button,label{
        font-size: .7rem;
    }
    .admin-login-button,.doctor-login-button{
        padding:1rem 3.4rem;
    }
}